@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem; /* 16px */
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
    text-indent: 1.5rem; /* 24px */
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section{
    max-width: 1200px;
    width: 100%;

}

.header {
    background-color: #011826bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 7.5rem; /* 12px 120px */
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 200;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    gap: 12.5rem; /* 200px */
}

.header .menu li a {
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 1rem; /* 16px */
    border-bottom: 2px solid transparent;
    transition: 0.3s border-bottom-color;
}

.header .menu li a:hover {
    border-bottom-color: #ffffff;
}

.banner-section {
    padding: 9.375rem 11.25rem; /* 150px 180px */
    height: 95vh;
    background: url("../imgs/baleia.png") no-repeat center center;
    background-size: cover;
    color: #ffffff;
    max-width: none;
}

.banner-section-content {
    width: 37.5rem; /* 600px */
    gap: 2.5rem; /* 40px */
    display: flex;
    flex-direction: column;
}

.banner-section-content h2 {
    width: 31.25rem; /* 500px */
}

.home .banner-section .titulo {
    font-size: 3rem; /* 48px */
    margin-top: 3.75rem; /* 60px */
    font-weight: bolder;
    text-transform: uppercase;
}

.tech-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0; /* 80px 0 */
}

.tech-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* 16px */
}

.section-base {
    display: flex;
    justify-content: center;
    padding: 3.75rem; /* 60px */
}

.section-base p {
    margin-bottom: 0.75rem; /* 12px */
    font-size: 1.25rem; /* 20px */
}

.section-base-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-base-content {
    display: flex;
    gap: 7.5rem; /* 120px */
    flex-direction: row;
    align-items: center;
}

.section-base.direita .section-base-content {
    flex-direction: row-reverse;
}

.section-base-content img{
    width: 30%;

}
.section-base-content .text-container {
    flex: 1;
}

.titulo-secao-base {
    font-size: 2rem; /* 32px */
    font-weight: bold;
    border-bottom: 2px solid #021F31;
    color: #021F31;
    padding-bottom: 0.5rem; /* 8px */
    white-space: nowrap;
    width: min-content;
    align-self: flex-start;
}

.section-base.direita .titulo-secao-base {
    align-self: flex-end;
}

.tech-section img {
    max-width: 31.25rem; /* 500px */
    width: 100%;
    min-width: 18.75rem; /* 300px */
}

.section-vidas {
    display: flex;
    padding: 5rem; /* 80px */
    background-color: #EBEFF2;
}

.section-vidas-content {
    display: flex;
    padding: 6.25rem; /* 100px */
    flex-direction: column;
    flex: 1;
    gap: 1rem; /* 16px */
    position: relative;
}

.vidas-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alga-image {
    position: relative;
    margin-right: -3.75rem; /* -60px */
    z-index: 100;
    margin-top: -5rem; /* -80px */
}

.polvo-image {
    margin-bottom: -5rem; /* -80px */
    position: relative;
}

.section-vidas-content .titulo {
    font-size: 2.25rem; /* 36px */
    z-index: 1;
}

.aspas {
    height: 12.5rem; /* 200px */
    z-index: 0;
    position: absolute;
    top: 0.75rem; /* 12px */
    left: 5rem; /* 80px */
    width: 4rem; /* 64px */
}

.section-recursos {
    display: flex;
    padding: 5rem 0; /* 80px 0 */
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2.1875rem; /* 35px */
    text-align: center;
    margin-top: 3.125rem; /* 50px */
}

.section-recursos img {
    width: 37.5rem; /* 600px */
}

.section-recursos-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section-recursos-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-recursos-content h2 {
    font-size: 3rem; /* 48px */
    color: #558B3A;
    margin-bottom: 3.75rem; /* 60px */
}

.section-recursos-content span {
    display: block;
    text-align: center;
}

.botao {
    padding: 0.875rem 1.25rem; /* 14px 20px */
    background-color: #32B91D;
    color: #fff;
    border-radius: 1.25rem; /* 20px */
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
}

footer {
    background-color: #2D3536;
    color: #fff;
    padding: 2.5rem; /* 40px */
    text-align: center;
    width: 100%;
}

footer .footer-content {
    border-top: 2px solid white;
    padding: 5rem; /* 80px */
}

.title {
    color: #5D92A3;
    font-size: 2.8125rem; /* 45px */
}

.subtitle {
    color: #767676;
    font-size: 1.25rem; /* 20px */
}

.section-map {
    display: flex;
    height: 37.5rem; /* 600px */
    margin-bottom: 20px;
}

.section-map-content {
    background: url("../imgs/mapabg.png") no-repeat center center;
    color: white;
    background-size: cover;
    width: 37.5rem; /* 600px */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem; /* 80px */
    padding: 5rem; /* 80px */
}

.section-map-content h2 {
    color: white;
}

.section-map-content .title {
    font-size: 2rem; /* 32px */
}

.map-container {
    flex: 1;
    height: 100%;
    position: relative;
}

.map-container #frame-container {
    height: 100%;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.map-container select {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem; /* 16px */
    outline: none;
    padding: 0.875rem 1.25rem; /* 14px 20px */
}

.section-artigos h2{
    font-size: 3rem;
}

.artigo {
    display: flex;
}


.artigo-title {
    font-size: 2rem;
}

.artigo-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3.75rem; /* 60px */
    flex: 1;
}

.img-artigo {
    display: block;
    text-align: center;
    width: 45%;
    object-fit: cover;
}



.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.artigo {
    min-width: 100%;
    padding: 20px;
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.section-login{
    background: url("../imgs/login-bg.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-login form{
    height: 100%;
    background-color: #232D3E;
    width: 500px;
    padding-top: 200px;

}

.section-login h2{
    color: white;
}

.section-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

input[type="password"], input[type="text"]{
    padding: 12px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 300px;

}


.section-login button{
    width: 300px;
}

/* medias */

@media (max-width: 700px) {

    html{
        font-size: 12px;
    }
    .header {
        flex-direction: column;
        padding: 0.75rem 1.25rem; /* 12px 20px */ 
    }

    .header .menu {
        gap: 1.25rem; /* 20px */
    }

    .banner-section {
        padding: 6.25rem 1.25rem; /* 100px 20px */
        height: auto;
    }

    .banner-section-content {
        width: 100%;
    }

    .banner-section-content h2 {
        width: 100%;
    }

    .section-base {
        padding: 0.5rem; /* 8px */
    }

    .section-base-content {
        flex-direction: column;
        gap: 2.5rem; /* 40px */
    }

    .section-base-container img {
        flex: 0.5;
    }

    .titulo-secao-base {
        margin-bottom: 1.25rem; /* 20px */
    }

    .section-base.direita .section-base-content {
        flex-direction: column;
        gap: 2.5rem; /* 40px */
    }

    .section-vidas {
        padding: 2.5rem; /* 40px */
        flex-direction: column;
    }

    .section-vidas-content {
        padding: 1.25rem; /* 20px */
        background-color: #EBEFF2;
    }

    .vidas-img-container {
        display: none;
    }

    .aspas {
        display: none;
    }

    .section-recursos img {
        width: 100%;
    }

    .section-recursos-content {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem; /* 20px */
    }

    .section-map {
        flex-direction: column;
        height: auto;
    }

    .section-map-content {
        width: 100%;
        padding: 2.5rem; /* 40px */
    }

    .map-container iframe {
        height: 18.75rem; /* 300px */
    }

    .artigo-content {
        padding: 1.25rem; /* 20px */
    }

    .img-artigo {
        width: 100%;
    }
}
